<div class="modal fade" id="new_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">Ajouter un Îlot</h4>
      </div>
      <div class="modal-body">

        <%= render 'form', team: @team%>

      </div>
    </div>
  </div>
</div>
