<p id="notice"><%= notice %></p>
<style>
td {
  padding:5px;
}
</style>
<h1>Personnes</h1>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnes.order(:name).each do |personne| %>
      <tr>
        <td><%= personne.name %></td>
        <td><%= link_to 'Supprimer', equipe_personne_path(id: personne.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Retour', edit_equipe_path(id: params[:equipe_id]), class: 'btn btn-default' %>
