<style>
td {
  padding:5px;
}
</style>
<h1>Objectifs</h1>

<table>
    <% @objectifs.each do |objectif| %>
      <tr>
        <td>Objectif <%= objectif.name %></td>
        <td><%= objectif.value %> %</td>
        <td><%= link_to 'Modifier', edit_objectif_path(objectif), class: "btn btn-default" %></td>
      </tr>
    <% end %>
</table>

<%= link_to 'Retour', indicateurs_path, class: 'btn btn-default' %>
<%#= link_to 'New Objectif', new_objectif_path %>
