<div>
    <%= f.label field.name, class: 'control-label' %><br>
    <%= f.select field.name, options_for_select([['Gris', "#A9A9A9"], ['Jaune', "#ffd200"], ['Rouge', "#ff0000"], ['Violet', "#e100e1"], ['Orange', '#fc4a1a'], ['Rose', '#f953c6'], ['Vert', '#56ab2f'], ['Bleu', '#197ae8'], ['Bleu clair', '#00bfff']], @event.properties["Couleur"]), value: 'IX9', class: "form-control" %>
</div>