<div class="field">
    <%= f.label field.name, class: 'control-label' %><br>
    <%= f.date_field field.name, value: @event.properties[field.name] , class: "form-control string optional", style:"width:50%;display:inline-block;"  %>
    <%= f.select "#{field.name}-time", (8..20).to_a, value: "#{@event.properties[field.name + "-time"]}", class: "form-control string optional", style:"display:inline-block;"  %> h
</div>