<div style="margin-top:10px;">
    <%= f.label 'Largeur chassis', class: 'control-label' %><br>
    <%= f.select 'Largeur chassis', options_for_select(['71', '86', ''], @event.properties[field.name]), class: "form-control string optional" %>
</div>