<% style = 'width:400px;font-weight:bold;font-size:35px;padding:30px;margin:15px;background-color:#BE1622;color:white;' %>

<div style="text-align:center;margin-top:150px;">
    <%= link_to 'Plannings Visuels', calendars_path, class: 'btn btn-default', style: style %>

    <%= link_to 'Suivi d\'activité', suivi_path, class: 'btn btn-default', style: style %>

    <%= link_to 'Indicateurs', indicateurs_production_path, class: 'btn btn-default', style: style %>
</div>