<style>
.container {
    text-align:center;
    width:100%;
}

* {
    font-family: "Arial"
}
</style>

<h1>Suivi activité - Direction industrielle</h1>
<p></p>
<div class="container">
    <%= image_tag image_url('legende.png'), style: "width:50%;margin:auto;" %>
</div>

<% @machines_charts.each_slice(2) do |datas| %>
    <div class="container">
        
        <% datas.each do |d| %>
            <img src="<%= d %>" style="width:45%;">
        <% end %>

    </div>
<% end %>

<div class="container" style="margin-top:100px;">
    <img src="<%= @stock %>" style="width:45%;">
    <img src="<%= @backlog %>" style="width:45%;">
</div>