<div>
    <div style="text-align:center;">
        <%= link_to "Mode Présentation", indicateurs_production_path, class: 'btn btn-info' %>
    </div>
    <div>
        <h1>Productivité</h1>
        <%= link_to "Analyser productivité", indicateurs_production_new_path, class: 'btn btn-default' %>
        <%= link_to "Paramètres", equipes_path, class: 'btn btn-default' %>
    </div>
    <br>

</div>

<div>
    