<% @event_types.order(:name).each do |event_type| %>
  <div class="modal-body">
    <p><%= event_type.name %>
    <%= link_to 'Modifier', edit_event_type_path(event_type), class: 'btn btn-default' %>
    </p>
  </div>
<% end %>

<br>

<%= link_to 'Retour aux Plannings', root_path %>
