/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require daterangepicker
 *= require scheduler
 *= require_tree .
 *= require_self
 */

main {
    margin-top: 100px;
    padding-bottom: 0px;
}

b {
    color: black;
}

.fc-col-resizer {
    width: 1px;
}

#home-logo {
    height:170%;
}

.fc-event {
    height:50px;
}

.before-date {
    background: repeating-linear-gradient(-45deg, lightgrey, lightgrey 10px, silver 10px, silver 20px);
}

.card-header {
    display: flex;
    justify-content: space-around;
    height: 25%;
    border-bottom: solid black 1px;
}
.card-title {
    font-weight: bold;
}

.card-gamme {
    color:black;
    font-weight: bold;
}

.card-se {
    width: 40%;
    padding-left: 5%;
	display: inline-block;

}

.card-se2 {
	width: 40%;
	display: inline-block;
}

.se {
    position:relative;
    text-transform: uppercase;
    font-size: 0.75em;
}