<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    <% if controller_name == "calendars" && action_name == "show" %>
      <%= link_to "", class: 'navbar-brand' do %>
        <%= image_tag 'lectra', id: 'home-logo' %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'lectra', id: 'home-logo' %>
      <% end %>
    <% end %>
    </div>
    
    <ul class="nav navbar-nav">
      <%#= link_to 'Agenda', calendars_path %>
        
      <%#= link_to 'Suivi', suivi_path %>
    </ul>
  </div>
</nav>
